@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  font-family: "Inter", sans-serif;
}
.App {
  text-align: center;
}
.placeholder {
  border: 1px solid gray;
  padding: 7px 10px;
  border-radius: 3px;
  color: gray;
  min-width: 200px;
  text-align: left;
  font-size: 0.9em;
}

.placeholderWrap {
  display: flex;
}

.placeholderWrap .placeholder:last-child {
  margin-left: 10px;
}
